<a href="https://colab.research.google.com/github/ysprem/disaster-response-pipeline-udacity/blob/main/ETL_Pipeline_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import relevant libraries**

In [3]:
import pandas as pd
from google.colab import drive
import os
from sqlalchemy import create_engine

**Extract data**

In [4]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
messages = pd.read_csv('/content/gdrive/MyDrive/disaster_response_pipeline/disaster_messages.csv')
categories = pd.read_csv('/content/gdrive/MyDrive/disaster_response_pipeline/disaster_categories.csv')

In [6]:
messages.head()

   id  ...   genre
0   2  ...  direct
1   7  ...  direct
2   8  ...  direct
3   9  ...  direct
4  12  ...  direct

[5 rows x 4 columns]

In [7]:
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

Merge datasets

In [8]:
df = messages.merge(categories, on="id")
df.head()

   id  ...                                         categories
0   2  ...  related-1;request-0;offer-0;aid_related-0;medi...
1   7  ...  related-1;request-0;offer-0;aid_related-1;medi...
2   8  ...  related-1;request-0;offer-0;aid_related-0;medi...
3   9  ...  related-1;request-1;offer-0;aid_related-1;medi...
4  12  ...  related-1;request-0;offer-0;aid_related-0;medi...

[5 rows x 5 columns]

**Transform data**

Split categories column into 36 different columns

In [9]:
cat_columns = df['categories'].str.split(pat=';', expand=True)
cat_columns.head()

          0          1        2   ...      33               34               35
0  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
1  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
2  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
3  related-1  request-1  offer-0  ...  cold-0  other_weather-0  direct_report-0
4  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0

[5 rows x 36 columns]

Use the first row of categories dataframe to create column names for the categories data. Rename columns of categories with new column names.

In [10]:
row = cat_columns.iloc[[1]]
cat_colnames = [category_name.split('-')[0] for category_name in row.values[0]]
print(cat_colnames)

['related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

In [11]:
cat_columns.columns = cat_colnames
cat_columns.head()

     related    request    offer  ...    cold    other_weather    direct_report
0  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
1  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
2  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
3  related-1  request-1  offer-0  ...  cold-0  other_weather-0  direct_report-0
4  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0

[5 rows x 36 columns]

Convert category values to just numbers 0 or 1

In [14]:
for column in cat_columns:
    # set each value to be the last character of the string
    cat_columns[column] = cat_columns[column].astype(str).str[-1:]
    
    # convert column from string to numeric
    cat_columns[column] = cat_columns[column].astype(int)
cat_columns.head()

   related  request  offer  ...  cold  other_weather  direct_report
0        1        0      0  ...     0              0              0
1        1        0      0  ...     0              0              0
2        1        0      0  ...     0              0              0
3        1        1      0  ...     0              0              0
4        1        0      0  ...     0              0              0

[5 rows x 36 columns]

Replace categories columns in dataset df with columns from cat_columns. First we drop the categories column from the df dataframe since it is no longer needed

In [15]:
df.drop(['categories'], axis=1, inplace=True)
df.head()

   id  ...   genre
0   2  ...  direct
1   7  ...  direct
2   8  ...  direct
3   9  ...  direct
4  12  ...  direct

[5 rows x 4 columns]

Concatenate the original dataframe with the new `cat_columns` dataframe

In [16]:
df = pd.concat([df,cat_columns], join='inner', axis=1)
df.head()

   id  ... direct_report
0   2  ...             0
1   7  ...             0
2   8  ...             0
3   9  ...             0
4  12  ...             0

[5 rows x 40 columns]

Remove duplicates. First check how many duplicates are in this dataset

In [17]:
print('Number of duplicates before removal are: {}'.format(sum(df.duplicated())))

Number of duplicates before removal are: 170

Drop the duplicates

In [18]:
df.drop_duplicates(inplace=True)

Confirm duplicates were removed

In [19]:
print('Number of duplicates after removal are: {}'.format(sum(df.duplicated())))

Number of duplicates after removal are: 0

**Load datasets**

Load the cleaned final datasets into a database and save them

In [20]:
database_filepath = "disaster_response_db.db"
engine = create_engine('sqlite:///' + database_filepath)
table_name = os.path.basename(database_filepath).replace(".db","") + "_table"
df.to_sql(table_name, engine, index=False, if_exists='replace')